* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 62.5%;
    background-color: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}
main {
    background-color: white;
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    border-radius: 5%;
}
.product-mobile {
    max-width: 100%;
    border-radius: 5% 5% 0 0;
    margin-bottom: 5px;
}
.product-desktop {
    display: none;
}
.main-text {
    display: grid;
    grid-gap: 12px;
    padding: 0 20px;
}
.text1,
.text2 {
    color: hsl(228, 21%, 48%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 10vw;
}
.text1 {
    font-weight: 500;
    letter-spacing: 5px;
}
.text2 {
    line-height: 25px;
}
.price {
    display: flex;
    gap: 15px;
    align-items: center;
}
.main-price {
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}
.old-price {
    text-decoration: line-through;
    font-size: 14px;
    color: hsl(228, 21%, 48%);
}
.add-cart {
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 15px;
}
.button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
    main {
        display: flex;
        justify-content: center;
        align-self: center;
        max-width: 50%;
        max-height: 80%;
        margin: auto;
    }
    .product-mobile {
        display: none;
    }
    .product-desktop {
        max-width: 50%;
        max-height: 100%;
        display: block;
        border-radius: 5% 0 0 5%;
    }
    .main-text {
        display: grid;
        grid-gap: 12px;
        padding: 20px 20px;
    }
    h1 {
        font-size: 50px;
        line-height: 45px;
    }
    .add-cart {
        cursor: pointer;
    }
    .add-cart:hover {
        background-color: darkgreen;
    }
}
